#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}


/* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 800ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

.header{
  align-items: center;
  
}

:root{
  background: linear-gradient(20deg,#660c96b3,#4f9eed)
}


#app{
  font-family:  Phantomsans, sans-serif;
	
	line-height: 1.6;
	text-align: center;

  z-index: -1;
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;

}


#left-container{
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
}

#intro-image{
  padding: 10px;
  width: 600px;
}

h1 {
  
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  font-size:50px;
  height:80px;
  width: 500px;
}


#connect{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100;
}

#chippy{
  padding: 20px;
}

#spacer{
  padding: 10%;
}